<div class="columns is-centered mt-10">
    <div class="column is-half-tablet is-one-third-desktop">
        <div class="heading">
            <h1 class="title">{{ data.title }}</h1>
            <div class="field">
                <p class="control has-icons-left">
                    <input class="input"
                           type="text"
                           name="username"
                           placeholder="Username"
                           [(ngModel)]="username"
                           autofocus
                    >
                    <span class="icon is-small is-left">
                        <i class="fa fa-user"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <p class="control has-icons-left">
                    <input class="input"
                           type="password"
                           name="password"
                           placeholder="Password"
                           [(ngModel)]="password"
                           (keyup.enter)="login()"
                    >
                    <span class="icon is-small is-left">
                        <i class="fa fa-lock"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <p class="control">
                    <button class="button is-success login-button"
                            (click)="login()"
                    >Login</button>
                </p>
            </div>

            <div class="notification is-warning"
                 *ngIf="authFailed"
            >Login failed!</div>
        </div>
    </div>
</div>

